#root {
  margin: 0 auto;
  height: 100vh;
}

.logo {
  height: 5em;
  padding: 0.5em;
  will-change: filter;
}

.App {
  height: 100vh;
}

.App h1 {
  text-align: center;
}

main {
  padding: 2em;
}
